#headerTxtDiv {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

#bioTextDiv {
    align-items: left; 
    text-align: justify;
}

#mainHeaderTxt {
    font-weight: bold;
}

/* Contact Icons on What's Next Page */
.contactIcons {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.contactIcon {
    color: black;
}

.contactIcon:hover {
    opacity: 0.8;
}

.contactIconDiv {
    margin-right: 15px;
}

.contactIcon:active {
    opacity: 0.5;
}