/* Timeline */
#timelineDiv {
    background-color: #202124;
    align-items: center; 
    justify-content: center;
    vertical-align: middle;
    height: 180px;
    padding-top: 45px !important;
    padding-left: 10px !important;
}

/* About section */
#mainHeaderTxt {
    font-weight: bold;
}

#aboutSection {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}

#aboutTxtContentDiv{
    padding-left: 50px;
    padding-right: 20px;
}

#headerTxtDiv {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

#bioTextDiv {
    align-items: left; 
    text-align: justify;
}

#cardDiv {
    display: flex;
    align-items: center; 
    justify-content: center;
}

/* On screens that are 800px or less */
@media screen and (max-width: 800px) {
    #aboutSection {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column-reverse;
    }
  }