.App {
  text-align: center;
  /* background-color: ghostwhite; */
  background-color: #FFF;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* Flex grid */
.doubleColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}